@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --nav-scroll-height: 70px;
  --nav-height: 78px;
  --navy: #0a192f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: initial;
  font-weight: initial;
}
html {
  scroll-behavior: smooth !important;
}
header {
  display: flex;
  -webkit-box-pack: justify;
  align-items: center;
  z-index: 30;
  transition: var(--transition);
  height: var(--nav-height);
  color: #fff;
  position: fixed;
  top: 0px;
  width: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 97px;
  position: relative;
  width: 100%;
  /* border-bottom: 1px solid #eaeaea; */
  /* transform: translateZ(0);*/
}
.section-1 {
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.61),
      rgba(0, 0, 0, 0.61)
    ),
    url(../public/keyboard.jpg);
  font-family: "Inter", sans-serif;
  padding: 100px 100px 40px;
}
.section_heading-wrap {
  width: 57%;
  font-family: "Inter", sans-serif;
  padding-bottom: 130px;
}
.section-heading {
  color: #fff;
  font-weight: 600;
  margin: 98px 0px 22px;
  font-size: 38px;
}
.section-para {
  color: #ececec;
  font-size: 16px;
  margin-bottom: 3rem;
}
.button-1 {
  background-color: #fb0c49 !important;
  margin-right: 23px;
  border-radius: 10px;
  position: relative;
}
.btn::before{
  content: "";
  position: absolute;
  z-index: 1;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .2);
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.btn:hover::before{
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.button-2 {
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.2) !important;
  border-radius: 10px;
}
.btn {
  position: relative;
  border: none;
  outline: none;
  color: #fff !important;
  padding: 18px 3px !important;
  width: 30%;
}
.btn:focus :active {
  border: none;
  outline: none;
  color: #fff !important;
  padding: 18px 3px;
  width: 30% !important;
}
.service_section-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-2 {
  padding: 77px 100px 100px;
  background-color: rgb(250, 250, 250, 0.842);
}
.section-heading--primary {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 7px;
}
.text-shade::before {
  content: "Services";
  text-transform: uppercase;
  width: 100%;
  top: -9px;
  left: -1px;
  letter-spacing: 5px;
  text-align: center;
  z-index: -1;
  position: absolute;
  font-size: 34px;
  color: rgba(95, 91, 91, 0.651);
  font-weight: bolder;
}
.service_secion-cards {
  width: 29%;
  height: 300px;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  padding: 36px 20px 12px;
  box-shadow: 9px 12px 19px 8px rgba(0, 0, 0, 0.2);
}
.service_secion-cards > h6 {
  margin-bottom: 1rem;
}
.servicecard-img {
  margin: auto;
}
.serviceimgwrap {
  margin-bottom: 26px;
}
.section-3 {
  padding: 77px 100px 100px;
  background-color: rgb(244, 244, 244, 0.842);
}
.project-shade::before {
  content: "Projects";
  text-transform: uppercase;
  width: 100%;
  top: -9px;
  left: -1px;
  letter-spacing: 5px;
  text-align: center;
  z-index: -1;
  position: absolute;
  font-size: 34px;
  color: rgba(95, 91, 91, 0.651);
  font-weight: bolder;
}
.project_placeholder {
  border-radius: 5px;
  /* mix-blend-mode: multiply;
  filter: grayscale(85%) contrast(1) brightness(102%);
  transition: var(--transition); */
  box-shadow: 9px 12px 19px 8px rgba(0, 0, 0, 0.2);
  height: 100% !important;
  position: absolute;
  width: 58%;
  background-color: var(--navy);
}
/* .project_placeholder:hover {
  filter: grayscale(1%) contrast(1) brightness(100%);
  z-index: 4;
} */
/* .project_imagewraper::before {
  content: "";
  position: absolute;
  width: 58%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  transition: var(--transition);
  background-color: var(--navy);
  mix-blend-mode: screen;
}
.project_imagewraper::before:hover{
  z-index: -1;
} */
.altplaceholder {
  border-radius: 5px;
  box-shadow: -1px 10px 20px rgba(0, 0, 0, 0.2);
  height: 100% !important;
  position: absolute;
  width: 58%;
}

.projectsection-wrap {
  display: flex;
  position: relative;
  margin-bottom: 7rem;
}
.projectsection-col1 {
  width: 58%;
}
.projectsection-col2 {
  text-align: right;
  width: 40%;
  position: relative;
  right: 105px;
  padding-top: 28px;
  z-index: 23;
}
.second_proj {
  text-align: left;
  left: 105px;
}
.project-description {
  box-shadow: 9px 12px 19px 8px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
  margin-bottom: 22px;
  margin-top: 12px;
  padding: 25px;
  text-align: initial;
  padding: 25px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255, 0.3);
  backdrop-filter: saturate(180%) blur(5px);
  color: #292929;
}
.thirdproj_wrap {
  margin-bottom: 0rem;
}
.projmedia_wrap {
  padding: 21px 0px;
  display: flex;
  justify-content: flex-end;
}
.secondmediawrap {
  justify-content: flex-start;
}
.media_icon {
  width: 69%;
  margin-right: 10px;
  cursor: pointer;
}
.section-4 {
  padding: 77px 100px 100px;
  background-color: #eaeaea;
}
.section-4_wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-4_col1 {
  width: 61%;
}
.section-4_col2 {
  width: 24%;
}
.button-3 {
  background-color: #440f88 !important;
  padding: 20px 36px;
  border-radius: 10px;
  width: 66%;
}
.section-5 {
  padding: 77px 100px 100px;
  background-color: #440f88;
  color: #ececec;
  position: relative;
}
.feedback_heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 31px;
  position: relative;
}
.feedback_wraper {
  display: flex;
  justify-content: center;
}
.feedbackimg-wrap {
  width: 26%;
}
.feedbackimg {
  border-radius: 50%;
}
.feedback_content {
  width: 40%;
  padding-left: 23px;
  padding-top: 40px;
}
.feedbckpara {
  font-size: 16px;
}
.feedbckcmter {
  text-align: right;
  font-size: 14px;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: #ececec;
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-control-next,
.carousel-control-prev {
  display: none;
}
.carousel-indicators {
  bottom: -64px !important;
}
.carousel-indicators button {
  padding: 2px !important;
  width: 2px !important;
  bottom: -46px;
  height: 2px !important;
  border-radius: 100% !important;
  margin-right: 8px;
  background-color: gray;
}

.img-shade2::before {
  content: url(../public/left_quote.jfif);
  position: absolute;
  z-index: -1;
  left: 99px;
  top: 41px;
}
.link_icon {
  width: 10%;
  margin-left: 7px;
}
@media (max-width: 760px) {
  .section-1 {
    padding: 73px 15px 0px;
  }
  nav {
    padding: 0px 15px;
  }
  .section_heading-wrap {
    width: 100%;
  }
  .section-heading {
    color: #fff;
    font-weight: 600;
    margin: 60px 0px 22px;
    font-size: 31px;
  }
  .button-2 {
    padding: 14px 42px;
  }
  .button-1 {
    padding: 14px 21px;
  }
  .section-2 {
    padding: 77px 15px 52px;
  }
  .service_section-wrap {
    flex-direction: column;
  }
  .service_secion-cards {
    width: 100%;
    margin-bottom: 43px;
  }
  .section-3 {
    padding: 77px 15px 100px;
  }
  .second_proj {
    text-align: left;
    left: 3px;
  }
  .altplaceholder {
    left: 0;
    width: 100%;
    height: auto !important;
  }
  .projectsection-col1 {
    width: 0%;
  }
  .project_placeholder {
    height: auto !important;
    width: 100%;
  }
  .projectsection-col2 {
    width: 100%;
    right: 0;
    -webkit-box-shadow: -8px 12px 22px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -8px 12px 22px rgba(0, 0, 0, 0.2);
    padding: 19px;
    text-align: left;
    background: rgb(250, 250, 250, 0.842);
  }
  .projectsection-col2 > p {
    font-size: 20px;
    font-weight: 500;
  }
  .projectsection-col2 > h5 {
    font-weight: 700;
    font-size: 23;
  }
  .project-description {
    box-shadow: none;
    padding: 0;
    backdrop-filter: none;
    background-color: initial;
    border-radius: 0;
  }
  .section-4_col2 {
    width: 45%;
  }
  .section-4 {
    padding: 77px 15px 100px;
    background-color: #eaeaea;
  }
  .media_icon {
    width: 6%;
  }
  .projmedia_wrap {
    justify-content: flex-start;
  }

  .section-5 {
    padding: 77px 25px 100px;
  }
  .feedback_wraper {
    flex-direction: column;
    align-items: center;
  }
  .feedbackimg-wrap {
    width: 45%;
  }
  .feedback_content {
    width: 100%;
    padding-left: 0;
    padding-top: 23px;
  }
  .link_icon {
    width: 15%;
    margin-left: 7px;
  }
  .button-1 {
    width: 45%;
  }
  .button-2 {
    width: 45%;
  }
  .button-3{
    width: 93%;
  }
}
